DB_HOST=localhost
DB_USER=u980038333_enmo2root
DB_PASS=S$vTGIfnu1
DB_NAME=u980038333_enmo2

SMTP_HOST=smtp.hostinger.com
SMTP_USER=recuperacion@enmo2.com
SMTP_PASS=S$vTGIfnu1
SMTP_PORT=465

JWT_SECRET=super-secret-key-change-in-production-123456
